{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login-style.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <h1>Login</h1>
      <form method="post">
        {% if messages %} {% for message in messages %} {{message}} {% endfor %}
        {% endif %} {% csrf_token %}
        <label>Username:</label>
        <input name="username" style="text-align: center" />
        <label>Password:</label>
        <input name="password" style="text-align: center" />
        <button type="submit" class="btn-primary">Enter</button>
      </form>
      <p>No account? Create now!<a href="{% url 'register' %}"> here</a></p>
    </div>
  </body>
</html>
