<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <form method="post">
      {% if messages %} {% for message in messages %} {{message}} {% endfor %}
      {% endif %} {% csrf_token %}
      <label>Username:</label>
      <input name="username" />
      <label>Password:</label>
      <input name="password" />
      <button type="submit">Enter</button>
    </form>
    <p>No account? Create now!<a href="{% url 'register' %}"> here</a></p>
  </body>
</html>
